<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myConnection" class="synergyitacademy.block4.lesson8.MySqlConnection">

    </bean>

    <bean id="myQuery" class="synergyitacademy.block4.lesson8.QueryTables">

    </bean>

</beans>